<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8"/>
<title>Private Leaderboard - Advent of Code {{ year }}</title>
<!--[if lt IE 9]><script src="https://adventofcode.com/static/html5.js"></script><![endif]-->
<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://adventofcode.com/static/style.css?24"/>
<link rel="stylesheet alternate" type="text/css" href="https://adventofcode.com/static/highcontrast.css?0" title="High Contrast"/>
<link rel="shortcut icon" href="https://adventofcode.com/favicon.png"/>
</head>
<body>
<header>
<div>
  <h1 class="title-global"><a href="https://adventofcode.com" target="_blank">Advent of Code</a></h1>
  <nav>
    <ul>
      <li><a href="https://adventofcode.com/{{ year }}/about" target="_blank">[About]</a></li>
      <li><a href="/{{ year }}/events">[Events]</a></li>
      <li><a href="https://teespring.com/adventofcode-2019" target="_blank">[Shop]</a></li>
    </ul>
  </nav>
</div>
<div>
  <h1 class="title-event">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="title-event-wrap"></span><a href="https://adventofcode.com/{{ year }}" target="_blank">{{ year }}</a></a><span class="title-event-wrap"></span></h1>
  <nav>
    <ul>
      <li><a href="/overall">[Overall]</a></li>
      <li><a href="https://adventofcode.com/{{ year }}/stats" target="_blank">[Stats]</a></li>
      <li><a href="https://adventofcode.com/{{ year }}/support" target="_blank">[AoC++]</a></li>
      <li><a href="https://adventofcode.com/{{ year }}/sponsors" target="_blank">[Sponsors]</a></li>
    </ul>
  </nav>
</div>
</header>
<main>
<article>
{% block contents %}
{% endblock contents %}
</article>
</main>
</body>
</html>