{% extends "base" %}
{% block contents %}
<p>From here, you can access the leaderboard of previous events:</p>
{% for event in events -%}
  <div><a href="/{{ event }}">[{{ event }}]</a></div>
{% endfor -%}
{%- endblock contents -%}
