{% extends "base" %}
{% block contents %}
<p>From here, you can access the leaderboard of previous events:</p>
{% for event in events -%}
  {%- if loop.first -%}
    <div><a href="/">[{{ event }}]</a></div>
  {%- else -%}
    <div><a href="/{{ event }}">[{{ event }}]</a></div>
  {%- endif %}
{% endfor -%}
{%- endblock contents -%}
