<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8"/>
<title>Private Leaderboard - Advent of Code {{ year }}</title>
<!--[if lt IE 9]><script src="https://adventofcode.com/static/html5.js"></script><![endif]-->
<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://adventofcode.com/static/style.css?24"/>
<link rel="stylesheet alternate" type="text/css" href="https://adventofcode.com/static/highcontrast.css?0" title="High Contrast"/>
<link rel="shortcut icon" href="https://adventofcode.com/favicon.png"/>
</head>
<body>
<header>
<div>
  <h1 class="title-global"><a href="https://adventofcode.com" target="_blank">Advent of Code</a></h1>
  <nav>
    <ul>
      <li><a href="https://adventofcode.com/{{ year }}/about" target="_blank">[About]</a></li>
      <li><a href="https://adventofcode.com/{{ year }}/events" target="_blank">[Events]</a></li>
      <li><a href="https://teespring.com/adventofcode-2019" target="_blank">[Shop]</a></li>
    </ul>
  </nav>
</div>
<div>
  <h1 class="title-event">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="title-event-wrap"></span><a href="https://adventofcode.com/{{ year }}" target="_blank">{{ year }}</a></a><span class="title-event-wrap"></span></h1>
  <nav>
    <ul>
      <li><a href="https://adventofcode.com/{{ year }}/support" target="_blank">[AoC++]</a></li>
      <li><a href="https://adventofcode.com/{{ year }}/sponsors" target="_blank">[Sponsors]</a></li>
      <li><a href="https://adventofcode.com/{{ year }}/stats" target="_blank">[Stats]</a></li>
    </ul>
  </nav>
</div>
</header>
<main>
<article>
<p>This is the private leaderboard of {{ leaderboard_name }} for <em>Advent of Code {{ year }}</em>.
It was generated by combining multiple private leaderboards, which were last updated at approximately
<em>{{ updated_at_str }}</em> (leaderboards are updated every {{ leaderboard_update_sec }} seconds).
{%- if as_of_str %} This page is currently showing the state of the leaderboard at <em>{{ as_of_str }}</em>.{% endif %}</p>

<p><span class="privboard-star-both">Gold</span> indicates the user got both stars for that day, <span class="privboard-star-firstonly">silver</span> means just the first star, and <span class="privboard-star-unlocked">gray</span> means none.</p>

<div class="privboard-row">{{ table_head_pad }}<span class="privboard-days">
  {%- for n in range(start=1, end=10) -%}
    <a href="https://adventofcode.com/{{ year }}/day/{{ n }}" target="_blank">{{ n }}</a>
  {%- endfor -%}
  {%- for n in range(end=10) -%}
    <a href="https://adventofcode.com/{{ year }}/day/1{{ n }}" target="_blank">1<br/>{{ n }}</a>
  {%- endfor -%}
  {%- for n in range(end=6) -%}
    <a href="https://adventofcode.com/{{ year }}/day/2{{ n }}" target="_blank">2<br/>{{ n }}</a>
  {%- endfor -%}
</span></div>
{%- for member in members -%}
  <div class="privboard-row"><span class="privboard-position">{{ rank_str[loop.index0] }}</span>{{ score_str[loop.index0] }}{% for stars in member.stars -%}
  <span class="privboard-star-{% if stars == 2 %}both{% elif stars == 1 %}firstonly{% else %}unlocked{% endif %}">*</span>
  {%- endfor %}  <span class="privboard-name">{{ member.name }}</span></div>
{% endfor %}

</article>
</main>
</body>
</html>